<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SrvAcceso</servlet-name>
        <servlet-class>Controlador.SrvAcceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvEmpleado</servlet-name>
        <servlet-class>Controlador.SrvEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvProducto</servlet-name>
        <servlet-class>Controlador.SrvProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvProductoIMG</servlet-name>
        <servlet-class>Controlador.SrvProductoIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvVentas</servlet-name>
        <servlet-class>Controlador.SrvVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvCliente</servlet-name>
        <servlet-class>Controlador.SrvCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvPedido</servlet-name>
        <servlet-class>Controlador.SrvPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvPedidoIMG</servlet-name>
        <servlet-class>Controlador.SrvPedidoIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvInforme</servlet-name>
        <servlet-class>Controlador.SrvInforme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SrvAcceso</servlet-name>
        <url-pattern>/SrvAcceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvEmpleado</servlet-name>
        <url-pattern>/SrvEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvProducto</servlet-name>
        <url-pattern>/SrvProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvProductoIMG</servlet-name>
        <url-pattern>/SrvProductoIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvVentas</servlet-name>
        <url-pattern>/SrvVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvCliente</servlet-name>
        <url-pattern>/SrvCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvPedido</servlet-name>
        <url-pattern>/SrvPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvPedidoIMG</servlet-name>
        <url-pattern>/SrvPedidoIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvInforme</servlet-name>
        <url-pattern>/SrvInforme</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
